.title {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
  text-align: left;
  color: #111827;
  /* gray-900 */
}

.table {
  width: 100%;
  margin-top: 1.5rem;
  border-collapse: collapse;
  border: 1px solid #9ca3af;
  /* gray-400 */
  font-size: 0.95rem;
  background-color: white;
}

.thead {
  background-color: #e5e7eb;
  /* gray-200 */
}

.th,
.td {
  border: 1px solid #9ca3af;
  /* gray-400 */
  padding: 0.5rem 1rem;
  text-align: center;
}

.td {
  background-color: #f9fafb;
  /* light gray rows */
}

tr:hover .td {
  background-color: #f3f4f6;
  /* subtle hover effect */
}